<div class="menu">
  <a href="/me" class="menu-item" data-ripple>
    <span class="material-symbols-rounded">account_circle</span>
    <span class="label-large">My Profile</span>
    <div class="state-layer"></div>
  </a>

  <a href="/logout" class="menu-item" data-ripple>
    <span class="material-symbols-rounded">logout</span>
    <span class="label-large">Log Out</span>
    <div class="state-layer"></div>
  </a>
</div>
