<!-- prettier-ignore -->
<div class="top-bar" data-top-bar>
  <%- include("./icon-btn.ejs", {icon: "chevron_left", variant: "filled-tonal", dataAttr: "data-back-btn"}) %> 
  <%- include("./icon-btn.ejs", {icon:"chevron_right", variant: "filled-tonal", dataAttr: "data-next-btn"}) %>
  <%-include("./search-bar.ejs", {
    display_name: locals.display_name,
    images: locals.images,
    query: locals.query
  }) %>
</div>
