PORT="5000"
SPOTIFY_DEV_CLIENT_ID="your_spotify_client_id"
SPOTIFY_DEV_CLIENT_SECRET="your_spotify_client_secret"
SPOTIFY_DEV_REDIRECT_URI="http://127.0.0.1:5000/auth/callback"
SPOTIFY_DEV_SCOPES="user-read-playback-state user-modify-playback-state user-read-currently-playing streaming user-follow-read user-top-read user-read-recently-played user-read-email user-read-private"
GENIUS_CLIENT_ACCESS_TOKEN="your_genius_client_access_token"
