<footer class="footer section">
  <div class="has-separator">
    <a
      href="https://math-to-dev.vercel.app/"
      target="_blank"
      class="social-link"
      >Portfolio</a
    >
    <span class="separator"></span>

    <a href="https://github.com/KeepSerene" target="_blank" class="social-link"
      >GitHub</a
    >
    <span class="separator"></span>

    <a
      href="https://www.linkedin.com/in/dhrubajyoti-bhattacharjee-320822318/"
      target="_blank"
      class="social-link"
      >LinkedIn</a
    >
    <span class="separator"></span>

    <a href="https://x.com/UsualLearner" target="_blank" class="social-link"
      >X</a
    >
  </div>

  <p class="footer-text body-medium">
    &copy; <%= new Date().getFullYear() %> RaagRiff. All Rights Reserved.
    Developed by KeepSerene.
  </p>
</footer>
