@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("./reset.css");
@import url("./variables.css");
@import url("./typography.css");

html {
  color-scheme: dark;
  font-family: var(--font-primary);
  font-size: var(--fs-base); /* 10px */
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  height: 100dvh;
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-base);
}

input {
  caret-color: var(--primary);
}

input::placeholder {
  color: var(--placeholder-color);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input:is(:-webkit-autofill, :autofill),
input:is(:-webkit-autofill, :autofill):where(:hover, :focus, :active) {
  -webkit-box-shadow: inset 0 0 0 30px var(--autofill-bg) !important;
  -webkit-text-fill-color: var(--autofill-color) !important;
}

/* For WebKit browsers and others that support ::selection */
::selection {
  background-color: hsla(159, 85%, 48%, 0.2);
  color: var(--on-surface-variant);
}

/* For Firefox */
::-moz-selection {
  background-color: hsla(159, 85%, 48%, 0.2);
  color: var(--on-surface-variant);
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--surface-container-highest);
}

/* Page styles */
.page {
  height: 100vh;
  height: 100dvh;
  padding-inline: var(--space-4);
  padding-top: var(--top-bar-height);
  padding-bottom: calc(
    var(--bottom-nav-height) + var(--player-sm-height) + var(--space-4)
  );
  overflow-x: hidden;
  overflow-y: auto;
}

/* Screen reader only element styles */
.sr-only {
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  position: absolute;
  left: -99999px;
  top: auto;
}

/* Slider styles */
.slider {
  padding-inline: var(--space-4);
  margin-inline: -16px;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-inner {
  min-width: max-content;
  display: flex;
  align-items: stretch;
  gap: var(--space-2);
}

.slider .card {
  min-width: 170px;
  max-width: 170px;
}

/* Cover image styles */
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card styles */
.card {
  --state-layer-bg: var(--on-surface);

  background-color: var(--surface-container-highest);
  border-radius: var(--radius-medium);
  overflow: hidden;
  position: relative;
}

.card-link {
  position: absolute;
  inset: 0;
}

.card-banner {
  position: relative;
}

.artist-card .card-banner {
  padding-top: var(--space-4);
  padding-inline: var(--space-4);
}

.card-banner .figure-img {
  aspect-ratio: 1;
  border-radius: var(--radius-medium);
}

.artist-card .figure-img {
  border-radius: var(--radius-full);
}

.card .play-btn {
  right: 16px;
  bottom: 16px;
  transform: translateY(16px);
}

.card:where(:hover, :focus-visible, :has(.play-btn.active)) .play-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

.card-content {
  padding: var(--space-4);
}

.card-title {
  color: var(--on-surface);
  margin-bottom: var(--space-1);
}

.card-text {
  color: var(--on-surface-variant);
  opacity: 0.8;
}

.artist-card .card-text {
  text-transform: capitalize;
}

/* Button styles */
.btn {
  min-width: max-content;
  max-width: max-content;
  height: 40px;
  border-radius: var(--radius-full);
  padding-inline: var(--space-6);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.btn.has-icon {
  padding-left: var(--space-4);
}

.btn-outline {
  --state-layer-bg: var(--primary);

  color: var(--primary);
  border: 1px solid var(--outline);
}

.btn-link {
  --state-layer-bg: var(--on-surface);

  color: var(--on-surface-variant);
  height: 28px;
  padding-inline: var(--space-3);
}

/* List item styles */
.list-item {
  --state-layer-bg: var(--on-surface-variant);

  height: 72px;
  color: var(--on-surface-variant);
  padding-inline: var(--space-4);
  padding-block: var(--space-2);
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.item-sr-no,
.item-album {
  display: none;
}

.list-item .item-banner {
  position: relative;
}

.list-item :where(.item-banner, .item-sr-no)::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("/images/playing.gif");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.list-item:not(:has(.item-banner)):has(.play-btn.active) .item-sr-no {
  color: transparent;
}

.list-item:has(.play-btn.active) .item-banner::before,
.list-item:not(:has(.item-banner)):has(.play-btn.active) .item-sr-no::before {
  opacity: 1;
}

.list-item .figure-img {
  width: 56px;
  height: 56px;
  transition: opacity var(--tr-duration-short-2) var(--tr-easing-standard);
}

.list-item:where(:hover, :focus-visible, :has(.play-btn.active)) .figure-img {
  opacity: 0.1;
}

.list-item .play-btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.list-item:where(:hover, :focus-visible) .play-btn {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.list-item .item-content {
  flex-grow: 1;
  min-width: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 42px;
  align-items: center;
  gap: var(--space-4);
}

.list-item .item-title {
  color: var(--on-surface);
}

.list-item:has(.play-btn.active) .item-title {
  color: var(--primary);
}

.list-item .item-text {
  opacity: 0.8;
}

.list-item .item-link {
  position: absolute;
  inset: 0;
}

.list-item .trailing-text {
  text-align: right;
}

/* Grid list styles */
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: var(--space-2);
}

/* Pagination controls styles */
.pagination-controls {
  color: var(--on-surface-variant);
  margin-top: var(--space-4);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-5);
}

.pagination-controls .controls-wrapper {
  display: flex;
}

.pagination-helper-text {
  text-align: center;
  margin-top: var(--space-2);
  opacity: 0.7;
}

/* Info section styles */
.info-header {
  padding-block: var(--space-4);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--space-4) var(--space-6);
}

.info-banner {
  width: 200px;
  height: 200px;
  border-radius: var(--radius-large);
}

.info-content {
  color: var(--on-surface-variant);
}

.info-title {
  color: var(--on-surface);
  margin-block: var(--space-2);
}

.info-actions {
  padding-top: var(--space-4);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.info-subtitle {
  text-transform: capitalize;
  opacity: 0.8;
}

.info-text {
  margin-bottom: var(--space-1);
}

.info-text > * {
  display: inline-block;
}

.info-copyright {
  color: var(--on-surface-variant);
  padding-block: var(--space-4);
  display: grid;
  gap: var(--space-05);
}

/* Divider styles */
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--outline);
}

.divider.variant {
  background-color: var(--outline-variant);
}

/* (Tabular) List styles */
.list-container {
  position: relative;
}

.list-header {
  color: var(--on-surface-variant);
  border-bottom: 1px solid var(--outline-variant);
  padding: var(--space-4);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  position: sticky;
  top: 0;
  z-index: 1;
  transition: var(--tr-duration-short-4) var(--tr-easing-emphasized);
}

.hide-header .list-header {
  top: -64px;
}

.list-header-sticky .list-header {
  background-color: var(--background);
  padding-inline: var(--space-8);
  margin-inline: -16px;
}

.list-header .sr-no-col {
  min-width: 28px;
}

.list-header :where(.sr-no-col, .album-col) {
  display: none;
}

.list-header .col {
  flex-grow: 1;
}

.list-header .duration-col {
  width: 42px;
  text-align: right;
  text-align: -webkit-right;
}

/* Chip styles */
.chip {
  --state-layer-bg: var(--on-surface-variant);

  min-width: max-content;
  max-width: max-content;
  height: 32px;
  background-color: var(--surface-container-low);
  color: var(--on-surface-variant);
  border-radius: var(--radius-small);
  padding-inline: var(--space-4);
  display: flex;
  align-items: center;
}

.chip.active {
  --state-layer-bg: var(--on-secondary-container);

  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding-left: 0;
}

.chip:hover:not(:focus) {
  box-shadow: var(--shadow-1);
}

.chip .ripple {
  filter: blur(0);
}

.chip .icon {
  width: 0;
  overflow: hidden;
  transition: var(--tr-duration-short-2) var(--tr-easing-standard);
}

.chip.active .icon {
  width: 1em;
  margin-inline: var(--space-2);
}

/* Search filters styles */
.search-filters {
  background-color: var(--background);
  padding-block: var(--space-4);
  margin-inline: -16px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  position: sticky;
  top: -4px;
  z-index: 2;
  transition: var(--tr-duration-short-4) var(--tr-easing-emphasized);
}

.hide-header .search-filters {
  top: -68px;
}

.search-filters::-webkit-scrollbar {
  display: none;
}

.search-filters .chip:first-child {
  margin-left: var(--space-4);
}

.search-filters .chip:last-child {
  margin-right: var(--space-4);
}

/* Utility styles */
.section {
  margin-top: var(--space-4);
}

.section-title {
  color: var(--on-surface);
  text-transform: capitalize;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.has-separator {
  color: var(--on-surface-variant);
}

.has-separator > * {
  display: inline;
}

.separator {
  display: inline-flex;
  width: 4px;
  height: 4px;
  background-color: var(--on-surface-variant);
  border-radius: var(--radius-full);
  margin-inline: var(--space-1);
  margin-block: var(--space-05);
}

/* Animations */
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes rippleExpand {
  from {
    scale: 0;
  }

  to {
    scale: 2.5;
  }
}

/* Responsiveness for screen sizes >= 768px */
@media screen and (width >= 48em) {
  body:not(:has(.login-page)) {
    background-color: var(--surface);
    padding: var(--space-2);
    padding-left: calc(var(--navigation-rail-width) + var(--space-4));
    padding-bottom: var(--player-lg-height);
    display: grid;
    grid-template-columns: 1fr;
  }

  .page {
    height: auto;
    background-color: var(--background);
    border-radius: var(--radius-large);
    padding-block: 0 var(--space-4);
  }

  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .info-header {
    padding-block: var(--space-6);
  }

  .info-banner {
    width: 240px;
    height: 240px;
  }

  .info-title {
    font-size: var(--fs-display-large);
    line-height: var(--lh-display-large);
    margin-block: var(--space-3);
  }

  .info-actions {
    padding-top: var(--space-6);
  }

  .hide-header .list-header,
  .hide-header .search-filters,
  .list-header,
  .search-filters {
    top: var(--top-bar-height);
  }
}

/* Responsiveness for screen sizes >= 992px */
@media screen and (width >= 62em) {
  .page {
    padding-inline: var(--space-6);
    padding-bottom: var(--space-6);
  }

  .section {
    margin-top: var(--space-6);
  }

  .slider {
    padding-inline: var(--space-6);
    margin-inline: -24px;
  }

  .slider-inner,
  .grid-list {
    gap: var(--space-4);
  }

  .list-header-sticky .list-header {
    padding-inline: var(--space-10);
    margin-inline: -24px;
  }

  .list-header :where(.sr-no-col, .album-col) {
    display: block;
    text-align: center;
  }

  .list-container:has(.item-album) .list-header :where(.sr-no-col, .album-col) {
    text-align: left;
  }

  .list-header .album-col {
    margin-left: 88px;
  }

  .item-sr-no,
  .item-album {
    display: block;
  }

  .list-item .item-sr-no {
    min-width: 28px;
  }

  .list-item .item-content {
    grid-template-columns: repeat(2, minmax(0, 1fr)) 42px;
  }

  .list-header-sticky .search-filters {
    margin-inline: -24px;
  }
}

/* Responsiveness for screen sizes >= 1200px */
@media screen and (width >= 75em) {
  .slider .card {
    min-width: 180px;
    max-width: 180px;
  }

  .info-header {
    flex-wrap: nowrap;
  }

  .info-banner {
    flex-shrink: 0;
  }
}
