<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Login | RaagRiff" />
    <meta name="author" content="Dhrubajyoti Bhattacharjee" />
    <meta
      name="description"
      content="RaagRiff is a way to listen to millions of songs without having to download them."
    />

    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />

    <title>Login | RaagRiff</title>
  </head>

  <body>
    <h1>Login page</h1>
  </body>
</html>
