<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Page Not Found | RaagRiff" />
    <meta name="author" content="Dhrubajyoti Bhattacharjee" />
    <meta
      name="description"
      content="RaagRiff: discover, create, and share curated playlists — a lightweight web player that delivers personalized music and seamless in-browser playback. Sign in with Spotify to enable secure streaming via the Spotify Web API and Web Playback SDK."
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/not-found.css" />

    <title>Page Not Found | RaagRiff</title>
  </head>

  <body>
    <main class="not-found-page">
      <img
        src="/images/favicon.svg"
        alt="RaagRiff logo"
        width="48"
        height="48"
        class="logo"
      />

      <div>
        <h2 class="title display-small">Page not found!</h2>
        <p class="text body-large">
          The page you're looking for either doesn't exist or has been moved.
        </p>
      </div>

      <a href="/" class="btn">
        <span class="label-large">Go Home</span>
        <div class="state-layer"></div>
      </a>
    </main>
  </body>
</html>
